@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.blur-it {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

a.btn {
  width: 200px;
  padding: 18px 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #e2525c;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(41, 171, 164, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%; 
  left: 50%;
  width: 50%;
  max-width: 600px;
  min-width: 320px;
  height: auto;
  display: block;
  margin: 50% 50% 50% -300px;
  position: relative;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 100%;
  height: auto;
  padding: 12px 30px;
  overflow: hidden;
  background: #4f6ae0;
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}

.content {
  padding: 5%;
  position: relative;
}

.message-text {
  text-align: center;
  font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
  color: #000000;
}

.message-text h1 {
  font-size: 25px;
}

@media (min-width: 320px) {
  .modal {
    top: 38%; 
    left: 94%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 23px;
  }
}

@media (min-width: 412px) {
  .modal {
    top: 38%; 
    left: 86%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 414px) {
  .modal {
    top: 38%; 
    left: 86%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .modal {
    top: 36%; 
    left: 89%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 361px) and (max-width: 375px) {
  .modal {
    top: 36%; 
    left: 87%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 371px) and (max-width: 384px) {
  .modal {
    top: 36%; 
    left: 86%;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 533px) {
  .modal {
    top: 38%; 
    left: 72%;
    width: 76%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 600px) {
  .modal {
    top: 38%; 
    left: 63%;
    width: 72%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 603px) {
  .modal {
    top: 38%; 
    left: 63%;
    width: 72%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .modal {
    top: 38%; 
    left: 55%;
    width: 70%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}

@media (min-width: 800px) {
  .modal {
    top: 38%; 
    left: 52%;
    width: 70%;
    max-width: 600px;
    min-width: 320px;
    height: auto;
    display: block;
    margin: 50% -300px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .message-text h1{
    font-size: 25px;
  }
}